@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular-Bold.ttf");
  font-weight: 600;
}

@layer base {
  html,
  body {
    font-family: "Roboto", system-ui, sans-serif;
    font-size: 100%;
  }
}

@layer base {
  .list__item::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0px;
    display: block;
    height: 1.3125rem;
    width: 1.3125rem;
    background: url("../assets/images/icon-list.svg") no-repeat center;
  }

  a[href]:not([tabindex='-1']):focus,
  area[href]:not([tabindex='-1']):focus,
  input:not([disabled]):not([tabindex='-1']):focus,
  select:not([disabled]):not([tabindex='-1']):focus,
  textarea:not([disabled]):not([tabindex='-1']):focus,
  button:not([disabled]):not([tabindex='-1']):focus,
  iframe:not([tabindex='-1']):focus,
  [tabindex]:not([tabindex='-1']):focus,
  [contentEditable=true]:not([tabindex='-1']):focus
  {
    outline: 1px solid theme("colors.Tomato")
      
  }
}
